*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: peachpuff;
    padding: 10px;
}

header {
    border-bottom: 2px solid goldenrod;
}
main {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem 0;
}

.game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 15rem;
    padding: 1rem;
    background-color: rgb(140, 203, 140);
    border-radius: 10%;
}

footer {
    border-top: 2px solid goldenrod;
}
